@model IEnumerable<CityBusManagement.Entity.Models.Trip>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <div class="h2">
            TRIP DETAILS
        </div>

        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>TRIP ID </th>
                    <th>TRIP COUNT</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                        <td>@trip.tripId</td>
                        <td>@trip.tripCount</td>

                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>